---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
const pageTitle = "Über mich";

const identity = {
  firstName: "Niclas",
  country: "Germany",
  occupation: "Student",
  hobbies: ["coding", "reading", "hiking"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Rust", "Java", "C", "C++", "Python", "Kotlin"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
			  color: purple;
			  font-size: 4rem;
			}
			.skill {
			  color: var(--skillColor);
			  font-weight: var(--fontWeight);
			  text-transform: var(--textCase);
			}
		  </style>
	</head>
	<body>
		<Navigation />
        <h1>{pageTitle}</h1>
        <h2>... und meine neue Astro Website</h2>

        <p>Ich arbeite mich durch das Astro Einfuehrungs-Tutorial. Dies ist die zweite Seite auf meiner Website</p>

        <p>Diese Seite wird sich entwickeln mit meinem Fortschritt im Tutorial</p>

		<p>Frankreich ich komme</p>

		<p>Hier sind ein paar Fakten über mich:</p>
		<ul>
		<li>Mein Name ist {identity.firstName}.</li>
		<li>Ich wohne in {identity.country} und bin {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Zwei meiner Hobbies sind : {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
		</ul>
		<p>Zu meinen Skills gehören:</p>
		<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>Ich freue mich Astro zu lernen!</p>}

		{finished && <p>Ich bin fertig mit dem Astro tutorial!</p>}

		{goal === 3 ? <p>Mein Ziel ist es in 3 Tagen fertig zu sein.</p> : <p>My goal is not 3 days.</p>}

		<p>Paris, Athen auf wiedersehen</p>
	</body>
</html>
