---
import '../styles/footer.css'
import Social from './Social.astro';
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>
  
  

<footer>
    <div class="footer-container">
        <p>Entdecke mehr über meine Projekte:</p>
        <ul class="social-links">
            
            <Social platform="github" username="withastro" />
            <Social platform="youtube" username="astrodotbuild" />
             <!--
            <li><a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a></li>
            <li><a href={`https://github.com/${username}`} target="_blank">GitHub</a></li>
            <li><a href={`https://linkedin.com/in/${username}`} target="_blank">LinkedIn</a></li>
            <li><a href={`https://twitter.com/${username}`} target="_blank">Twitter</a></li>
            Add more links as needed -->
        </ul>
    </div>
</footer>
